.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto;

  &__col--4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6rem;
  }

  &__col--3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8rem;
  }
}
